.main{
    padding:1.428rem;
}
.title{
    font-family: SF Pro Display ,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2.86rem;
    line-height: 3.57rem;
    letter-spacing: -0.02em;
}
.subTitle{
    font-family: SF Pro Display,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.14rem;
    line-height: 1.43rem;
    letter-spacing: -0.02em;
    margin-top: 2rem;
    margin-bottom: 6rem;
}
.winDR,
.winDL{
    position: relative;
    width: 100%;
}
.winDR img,
.winDL img{
    width: 100%;
}
.winDR{
    transform: rotateY(180deg);
}
.winArrow{
    position: absolute;
    right: -10%;
    top: -10%;
    transition: all ease-in-out .2s;
    transform-origin: left;
    animation: floatArrow 4s infinite ease-in-out;
    z-index: 2;
}
.winDL .winArrow{
    color: #F55B5D;
}
.winDR .winArrow{
    color: #39CE9C;
}
@keyframes floatArrow {
    0%,100%{
        transform: scale(1) translate(50%,20%);
    }
    50%{
        transform: scale(0.4) translate(0,0);
    }
}
.tokenType{
    background: currentColor;
    height: 60%;
    width: 3px;
}
.switchIcon{
    display: inline-block;
    border: 1px solid #DDCAB3;
    border-radius: 100%;
    padding: .2rem;
    box-sizing: border-box;
    width: max-content;
    height: max-content;
}
