# node_modules
node_modules/

# build
build/

# dist
dist/

# config
config/

# public
public/
src/assets
src/images
src/App.test.js
utils/svg.js

# scripts
scripts/

# serviceWorker
src/serviceWorker.js