.box {
  background: #f5f7fa;
  padding: 10px 16px;
  height: 100%;
}
.container {
  background-color: white;
  //height: 100%;
  border-radius: 10px;
}
.profile {
  width: 100%;
  box-sizing: border-box;
  height: 223px;
  //padding: 71px 87px 0 27px;
  padding: 50px;
  background: #ffffff;
  box-shadow: 0px 9px 20px rgba(27, 37, 89, 0.1);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left {
  display: flex;
}
.authorImg {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
  display: block;
  border: 0;
  border-color: #fff;

}
.authorInfo {
  //margin-top: 13px;
}
.authorName {
  color: #000000;
  font-weight: 700;
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.editProfile {
    flex-shrink: 0;
    //background: hsla(0,0%,100%,.1);
    height: 34px;
    padding: 0 14px;
    //color: #fff;
    border-radius: 17px;
    font-size: 14px;
    line-height: 20px;
    margin-left: 18px;
}
.title {
  font-weight: bold;
  font-size: 32px;
  line-height: 30px;
  color: #000000;
  padding-bottom: 7px;
}
.addressBox {
  display: flex;
  align-items: center;
  //height: 32px;
  //margin-bottom: 5px;
}
.address {
  display: block;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}
.copyAddress {
  width: 22px;
  cursor: pointer;
  margin-left: 12px;
}
.contactImg {
  display: flex;
  margin-top: 5px;
}

.nickName {
  word-wrap: break-word;
}
.authorImg[src=""],.authorImg:not([src]) {opacity: 0;}
.edit {
  font-size: 16px;
  line-height: 16px;
  width: 114px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 8px;
  color: #000000;
  cursor: pointer;
}
.tabs {
  display: flex;
  align-items: center;
  margin-top: 32px;
  padding-left: 27px;
  padding-bottom: 6px;
}
.tabs span {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #666666;
  padding-right: 46px;
}
.tabs span i {
  font-style: normal;
  padding-right: 6px;
}
.tabsActive {
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: #000;
}
.datas {
  display: flex;
  flex-wrap: wrap;
  padding: 0 27px;
}
.collection {
  width: 351px;
  height: 414px;
  border: 1px solid red;
}
.collectionImg {
  width: 100%;
  height: 220px;
  border-radius: 10px;
  margin-bottom: 6px;
}
.thumbnail {
  display: flex;
  height: 97px;
  margin-bottom: 18px;
}
.thumbnail img {
  width: calc((100% - 12px) / 3);
  margin-right: 6px;
  border-radius: 10px;
}
.thumbnail img:last-child {
  margin-right: 0;
}
.info {
  height: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 19px;
}
.infoLeft,
.infoRight {
  display: flex;
  align-items: center;
}
.infoLeft img {
  width: 24px;
  height: 24px;
  margin-right: 11px;
  border-radius: 50%;
}
.infoLeft span,
.infoRight span {
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  color: #000000;
}
.infoRight img {
  width: 26px;
  height: 26px;
  margin-right: 4px;
}
.infoDesc {
  font-size: 12px;
  line-height: 16px;
  color: #23262f;
}
.editBox {
  width: 528px;
  margin: 0 auto;
  padding-top: 59px;
}
.editBox h3 {
  font-weight: bold;
  font-size: 38px;
  line-height: 38px;
  letter-spacing: -0.02em;
  margin: 0;
  padding: 0;
  margin-bottom: 37px;
  color: #23262f;
}
.head {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #030303;
  margin: 0;
  padding-left: 10px;
  margin-bottom: 23px;
}
.styleFormItemContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.styleFormItemContainer .label {
  margin-bottom: 10px;
}
.saveProfile {
  display: inline-block;
  padding: 16px 24px;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #fcfcfd;
  background: #112df2;
  border-radius: 10px;
  margin-bottom: 61px;
  cursor: pointer;
}
.avatarUploader {
  width: 200px;
  height: 200px;
}
.avatarImg {
  background-color: #bfcbd9;
  max-width: 84px;
  max-height: 84px;
}