.box {
  background: #f5f7fa;
  padding: 10px 16px;
  height: 100%;
 
}
.container {
  background-color: white;
  height: 100%;
  border-radius: 10px;
  padding: 0 23px;
}
.profile {
  width: 100%;
  padding:  58px 20px 0 18px;
}
.title {
  font-weight: bold;
  font-size: 32px;
  line-height: 30px;
  color: #000000;
  padding-bottom: 7px;
}
.addressBox {
  display: flex;
  align-items: center;
  height: 32px;
  margin-bottom: 23px;
}
.address {
  font-size: 16px;
  line-height: 32px;
  color: #000000;
}
.copyAddress {
  width: 22px;
  cursor: pointer;
  margin-left: 12px;
}
.person {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.personLeft {
  display: flex;
  align-items: center;
}
.avatar {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  padding-right: 13px;
}
.desc {
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}
.collection {
  width: 163px;
height: 48px;
border-radius: 10px;

background: #112DF2;
line-height: 48px;
text-align: center;
font-size: 16px;
line-height: 48px;
color: #FCFCFD;
}