.styleCardContainer {
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  margin: 0 0.6rem;
}
.styleCardContainer:hover {
  box-shadow: 0px 16.1719px 22.3919px rgba(0, 0, 0, 0.05);
}
.styleShortPicture {
  position: relative;
  min-height: 300px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.styleNoPicture::after {
  content: attr(noDataText);
  position: absolute;
  color: #1b225c;
  font-weight: bolder;
  font-size: 2rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.imgFlow{
  background-size: cover;
  animation: nftFlow 6s infinite cubic-bezier(0.42, 0.13, 0, 1.04);
}
@keyframes nftFlow {
  0%,
  100% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 100%;
  }
}
.styleInfoContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  padding: 0 13px;
  padding-bottom: 18px;
}
.styleCardHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.styleCardHeaderBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.styleName {
  box-sizing: border-box;
  margin: 18px 0px 8px;
  min-width: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1 1 0%;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.01em;
  color: #000000;
}
.chainType {
  margin: 0px 0px 0px 8px;
  appearance: none;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  box-sizing: border-box;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  outline: none;
  font-weight: 500;
  line-height: 20px;
  word-break: keep-all;
  color: rgb(30, 35, 41);
  border-radius: 4px;
  min-height: 24px;
  border: none;
  background-color: rgb(234, 236, 239);
  min-width: 39px;
  height: 24px;
  padding: 4px 8px;
  font-size: 12px;
}
.styleInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.styleInfoLine {
  margin-bottom: 7px;
}
.creator {
  box-sizing: border-box;
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #707a8a;
  margin-right: 20px;
}
.styleInfoProfile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.styleInfoProfileImg {
  width: 8px;
  height: 8px;
  background: #45B36B;
  margin-right: 5px;
  border-radius: 50%;
}
.nickName {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  color: rgb(71, 77, 87);
  box-sizing: border-box;
  min-width: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.01em;
  color: #75819a;
}
.price {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: #000000;
}
.price_box {
  display: flex;
}
.price_unit {
  font-weight: 500;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #C3C9DB;
  padding-left: 4px;
}
.price_box img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}