.container {
  display: flex;
  min-height: 100vh;
}
.logo {
  width: 34px;
}

.navActive {
  background: #112df2;
  border-radius: 12px;
}
.nav {
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 18px 58px 18px 64px;
  font-weight: normal;
}

.navImg {
  width: 24px;
  margin-right: 20px;
  color: rgb(165, 161, 239);
  font-size: 24px;
}

.navText {
  color: rgb(165, 161, 239);
  font-weight: 300;
}
.navActive {
  color: #fff;
  font-weight: bold;
}
.navDeText {
  color: rgb(134, 134, 181);
  font-weight: 300;
}
.navDeActive {
  color: #fff;
  font-weight: bold;
}

.rightContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: calc(100% - 332px);
}
