.container {
  display: flex;
}
.logo {
  width: 34px;
}
.nav {
  display: flex;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
  padding: 14px 58px 14px 64px;
  font-weight: normal;
}
.navActive {
  background: #29346D;
  border-radius: 8px;
}
.navBot,
.navRt{
  position: relative;
}
.navActive.navBot::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 8px;
  height: 3px;
  width: 60%;
  transform: translateX(-50%);
  background: #fff;
}
.navActive.navRt::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 8px;
  height: 60%;
  width: 4px;
  transform: translateY(-50%);
  background: #fff;
}

.navImg {
  width: 30px;
  margin-right: 20px;
  color: rgb(165, 161, 239);
  font-size: 30px;
  height: 30px;
  display: flex;
}

.navDeText {
  color: rgb(134, 134, 181);
  font-weight: 300;
}
.navDeActive{
  color: #fff;
  font-weight: bold;
}

