.box {
  background: #f5f7fa;
  padding: 1rem 1.1rem;
}
.container {
  background-color: white;
  border-radius: 10px;
  padding: 2.2rem;
}
.h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 16px;
  color: #1b2559;
  padding-bottom: 19px;
  margin: 0;
  padding-left: 10px !important;
}
.describe {
  font-size: 16px;
  line-height: 16px;
  color: #949aa1;
  padding-left: 10px;
  margin-bottom: 65px;
}
.tabNav {
  display: flex;
  height: 34px;
  padding-left: 10px;
  border-bottom: 2px solid #fafafa;
}
.tabPane {
  margin-right: 45px;
  font-size: 16px;
  height: 34px;
  line-height: 16px;
  color: #666666;
  cursor: pointer;
}
.tabActive {
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: #112df2;
  border-bottom: 2px solid #112df2;
}
.datas {
  margin-top: 52px;
  display: grid;
  gap: 20px 20px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}
.product {
  background: #f9fbfc;
  border: 1px solid #e7e7e7;
  border-radius: 24px;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}
.product:nth-child(4n) {
  margin-right: 0;
}
.more {
  position: absolute;
  right: 27px;
  top: 23px;
  width: 28px;
  cursor: pointer;
}
.dataImg {
  width: 100%;
  height: 141px;
  margin-bottom: 14px;
  border-radius: 10px;
}
.dataImage {
  object-fit: cover;
}
.avatarBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}
.avatarContent {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #e6e8ec;
  border: 1.4px solid #2ed6bb;
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatarImg {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.avatarBoxRight {
  display: flex;
  align-items: center;
}
.updated {
  font-size: 12px;
  line-height: 12px;
  color: #8f9bba;
  padding-left: 11px;
}
.dataName {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #11142d;
  padding-bottom: 20px;
}
.dataAuthor {
  font-weight: 500;
  font-size: 14px;
  line-height: 12px;
  text-decoration-line: underline;
  color: #01aef3;
  cursor: pointer;
  padding-bottom: 9px;
  display: inline-block;
}
.statistics {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.statistLeft {
  font-size: 14px;
  line-height: 12px;
  color: #666666;
}
.statistSpan {
  color: #000000;
  padding-right: 8px;
}
.dataCount {
  width: 85px;
  height: 28px;
  margin: 5px 0;
  position: relative;
  background: #f3f3f3;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reduce,
.add {
  color: #c4c4c4;
  font-size: 20px;
  text-align: center;
  width: 20px;
  height: 28px;
  cursor: pointer;
}
.add {
  color: #000000;
}
.countNum {
  position: absolute;
  width: 29px;
  height: 28px;
  left: calc(50% - 14.5px);
  background: #112df2;
  border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}

.competition {
  margin-top: 39px;
}
.competitionBox {
  //height: 177px;
  box-sizing: border-box;
  padding: 9px;
  background: #f9fbfc;
  border: 1px solid #e7e7e7;
  border-radius: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 26px;
}
.compeLeft {
  display: flex;
  flex-wrap: wrap;
}
.comImg {
  width: 265px;
  height: 158px;
  object-fit: cover;
  border-radius: 24px;
  margin-right: 37px;
}
@media (max-width: 1050px) {
  .comImg {
    width: 100%;
    height: 158px;
    object-fit: cover;
    border-radius: 24px;
    margin-right: 0px;
  }
}
.comContent {
  margin-top: 20px;
}
.comTitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  color: #11142d;
  padding-bottom: 9px;
}
.comDescribe {
  font-size: 14px;
  line-height: 16px;
  color: #949aa1;
  padding-bottom: 15px;
}
.host {
  font-size: 14px;
  line-height: 16px;
  color: #949aa1;
  padding-bottom: 21px;
}
.hostMain {
  color: #1b2559;
}
.progress {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.progressCode {
  font-size: 14px;
  line-height: 16px;
  color: #949aa1;
  padding-right: 63px;
}
.p1 {
  color: rgb(252, 70, 72);
}
.progressStart {
  color: #1b2559;
  font-size: 14px;
  line-height: 16px;
  margin-right: 63px;
}
.p2 {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  background: #1b2559;
  margin-right: 8px;
}
.ongoing {
  color: #218474;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
}
.ongoingImg {
  width: 22px;
  margin-right: 10px;
}
.compeRight {
  padding-top: 34px;
  padding-right: 44px;
}
.compeCount {
  font-weight: bold;
  font-size: 24px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  margin-top: 0;
  margin-bottom: 22px;
}
.compeViewBtn {
  width: 123px;
  height: 48px;
  background: #112df2;
  border-radius: 10px;
  text-align: center;
  line-height: 48px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  color: #fcfcfd;
  cursor: pointer;
}
.boxTitle {
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #23262f;
  margin-top: 148px;
  margin-bottom: 8px;
}
@media (max-width: 900px) {
  .boxTitle  {
    font-size: 2rem;
  }
  .container {
    padding: 10px;
  }
  .header {
    display: flex;
    background: #f1f1f1;
    border-radius: 14px;
    padding: 8px 17px;
    margin-bottom: 10px;
  }
  .h2 {
    padding: 0;
    padding-right: 1px;
    font-size: 16px;
  }
  .describe {
    flex: 1;
    margin-bottom: 0;
    font-size: 14px;
  }
  .tabNav {
    height: auto;
    padding-left: 0;
  }
  .tabPane {
    margin-right: 10px;
    border: 2px solid #e6e8ec;
    box-sizing: border-box;
    border-radius: 12px;
    font-size: 14px;
    height: auto;
    padding: 12px 16px;
    line-height: 16px;
  }
  .tabActive {
    color: #fff;
    background-color: #2c44f0;
  }
  .datas,
  .competition {
    margin-top: 20px;
  }
}
.boxMain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boxDesc {
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #777e91;
  margin: 0 auto;
  margin-bottom: 101px;
  padding: 0 30px;
}
.boxCard {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 82px;
  flex-wrap: wrap;
  //grid-gap: 20px 20px;
  grid-template-columns: 1fr 1fr min(100px, 1fr);
}
.box_card_product {
  width: 353px;
  height: 457px;
  border: 1px solid #e6e8ec;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 9px;
  margin: 0 15px;
  margin-bottom: 20px;
}

.box_card_product img {
  height: 280px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 19px;
}
.box_card_product h4 {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #1b2559;
  margin-bottom: 9px;
}
.box_card_product h5 {
  margin: 0;
  margin-bottom: 19px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #777e91;
}
.box_btn {
  margin: 0 auto;
  width: 135px;
  height: 45px;
  line-height: 45px;
  background: #112df2;
  border-radius: 6px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  color: #fcfcfd;
  cursor: pointer;
}
.box_footer {
  font-size: 12px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #777e91;
  padding: 0 30px;
  margin-bottom: 100px;
}
.box_btn_come {
  background: #B8BECC;
  cursor: not-allowed;
}
