@font-face {
  font-family: "iconfont"; /* Project id 2623741 */
  src: url('iconfont.woff2?t=1628933883810') format('woff2'),
       url('iconfont.woff?t=1628933883810') format('woff'),
       url('iconfont.ttf?t=1628933883810') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: inherit;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-medium:before {
  content: "\e640";
}

.icon-auction:before {
  content: "\e606";
}

.icon-cycle:before {
  content: "\e65f";
}

.icon-wuguan:before {
  content: "\ec5f";
}

.icon-vote:before {
  content: "\e675";
}

.icon-home:before {
  content: "\e665";
}

.icon-shop:before {
  content: "\e676";
}

.icon-twitter:before {
  content: "\e6e0";
}

.icon-telegram:before {
  content: "\e624";
}

.icon-discord:before {
  content: "\e625";
}

.icon-github:before {
  content: "\e605";
}

