.header {
  display: flex;
  height: 64px;
  margin: 0 16px 24px 40px;
}

.actionContainer {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: flex-end;
  color: #233a7d;
  margin-left: 20px;
}
