.marketDetail {
    //background-color: #fff;
    //padding: 10px;
    margin: 10px;
}
.main {
    display: flex;
    width: 100%;
    padding: 30px;
    height: 768px;
    background-color: #fff;
    //padding: 10px;
    box-sizing: border-box;
    //padding-right: 30px;
}
.mainL {
    width: 38%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.detail_img {
    max-width: 100%;
    max-height: 100%;
}
.mainR {
    //width:50%;
    flex: 1;
    margin-left: 20px;
    height: 702px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.backBtn{
  width: max-content;
  padding: 1rem 1rem;
  position: sticky;
  color: #1b2559;
  font-weight: 400;
  top: 125px;
  background: #f2f6fc;
  z-index: 2;
  border-radius: 0 15px 15px 0;
  filter: drop-shadow(2px 3px 10px rgba(0,0,0,0.25));
  cursor: pointer;
}
.product {
    //height: 153px;
    padding-left: 38px;
    padding-right: 92px;
    box-sizing: border-box;
    //border-bottom: 1px solid #E0E0E0;
}
.proName {
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.01em;
    color: #23262F;
    padding-bottom: 8px;
}
.proPriceBox {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #777E91;
}
.price {
    padding: 6px 8px;
    color: #45B36B;
    border: 2px solid #45B36B;
    box-sizing: border-box;
    border-radius: 4px;
    margin-right: 8px;
}
.price:last-child {
    color: #777E91;
    border: 2px solid #E6E8EC;
}
.desc {
    font-size: 16px;
    line-height: 24px;
    color: #777E91;
    margin: 40px 0;
}
.user {
    display: flex;
    margin-bottom: 20px;
    height: 50px;
    box-sizing: content-box;
    min-width: 262px;
    padding-bottom: 20px;
    border-bottom: 1px solid #E6E8EC;
}
.head {
   width: 50px;
   height: 50px; 
   margin-right: 16px;
   cursor: pointer;
}
.avatar {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}
.owner {
    font-size: 14px;
    line-height: 24px;
    color: #777E91;
}
.userName {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #23262F;
}
.chain {
    margin-bottom: 20px;

}
.contract {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #2c2c34;
    padding-right: 16px;
    min-width: 80px;
}
.tokenAddress {
    font-size: 14px;
    line-height: 16px;
    color: #0066ed;
}
.close {
    width: 38px;
    cursor: pointer;
    filter: drop-shadow(2px 4px 6px #1d1d2b);
}
.styleFormItemContainer {
    display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  
}
.label {
    margin-bottom: 10px;
  }
















.proStars {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
    color: #B9A2FF;
}
.proImg {
    width: 36px;
    margin-right: 16px;
}
.proCustom {
    margin-top: 12px;
    display: flex;
    align-items: center;
    font-family: SF Pro Display;
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 29px;

color: #2C386F;
}
.intro {
    padding-left: 36px;
    padding-right: 44px;
    padding-top: 40px;
}
.introText {
    margin-bottom: 8px;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    color: #1B225C;
}
.currentText {
    margin-bottom: 8px;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #2C386F;
}
.introMain {
    display: flex;
}
.introInfoText {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 8px;
    color: #68769F;
    overflow: hidden;
    /*将对象作为弹性伸缩盒子模型显示*/
    display: -webkit-box;
    /*设置子元素排列方式*/
    -webkit-box-orient: vertical;
    /*设置显示的行数，多出的部分会显示为...*/
    -webkit-line-clamp: 7;
}
.hashText {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #68769F;
    margin-bottom: 36px;
}
.mainLeft {
    height: 170px;
    width: 50%;
    border-right: 1px solid #E0E0E0;
}
.currentAll {
    display: flex;
    align-items: center;
    margin-top: 13px;
    margin-bottom: 34px;
}
.priceToken {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 43px;
    color: #253EF3;
}
.line {
    width: 1px;
    height: 32px;
    display: inline-block;
    margin-right: 18px;
    margin-left: 28px;
    text-align: center;
    background-color: #E0E0E0;
}
.currency {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #68769F;
}
.buyBtn{
    width: 90%!important;
    height: 50px;
    padding: 0;
    background: #1B2559!important;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    color: #fff!important;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    outline: none;
}
.buyBtn:hover {
    color: #fff
}
.mainRight {
    padding-left: 22px;
    padding-top: 40px;
}
.ownerTitle {
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    color: #2C386F;
}

.items {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
    background-color:rgb(242,246,253);

}
.recommend {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}
.recommendTitle {
    color: rgb(20, 24, 74);
    font-size: 20px;
    font-weight: bold;
}
.ReContainer {
    background: #f6f8fd;
    padding: 40px 0 40px 32px;
    margin-top: 30px;
    height: 470px;
    border-radius: 10px;
}
.title {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 20px;
    color: #1b2559;
    margin: 0;
  }
  .sliderContainer {
    width: 100%;
  }
  .card {
    display: flex;
    margin-right: 50px;
    flex-direction: column;
  }

  img {
    width: 100%;
  }

  .title {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 20px;
    color: #1b2559;
    margin: 0;
  }

  .artContainer {
    background: #f6f8fd;
    padding: 40px 0 40px 32px;
    margin-top: 30px;
    height: 470px;
    border-radius: 10px;
  }

  .contentContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
    color: #1b2559;
    font-weight: 900;
    margin-bottom: 10px;
    align-items: center;
  }
  .starContainer {
    color: #b9a2ff;
    font-size: 20px;
  }
  .starAccount {
    margin-left: 8px;
    font-weight: normal;
  }
